@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#DDCAC4;
}

header {
    background-color: #152B43;
    padding: 5px;
    margin: 0;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header_menu_logo {
    width: 60px;
}

.header_menu_item {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 20px;
    font-family: 'Libre Baskerville', italic;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #a12d0a;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
}

.header_menu_item:hover {
    box-shadow: inset 140px 0 0 0 #a12d0a;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Libre Baskerville', italic;
}

h1 {
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 50px;
    background-color: #152B43;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 50px;
}

h4 {
    margin:10px 0;
    font-size: 20px;
}

.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_button {
    margin-top:30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_title {
    margin-bottom: 20px;
    font-size: 25px;
}

.button {
    background-color: #152B43;
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 20px;
}

.button:hover {
    background-color: #a12d0a;
}


.banner {
    width: 1310px;
}

footer {
    background-color: #152B43;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_itens {
    margin: 10px;
    color: #FFFFFF;
    
}

.footer_a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 5px;
}

.footer_p {
    color: #FFFFFF;
    margin-bottom: 10px;
}